.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);
}

.item {
  text-align: center;
  padding: var(--space-6);
  font-size: var(--fs-h4);
  font-weight: 300;
}

@media (min-width: 640px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}